<div class="registration-form">
    <form>
        <div class="form-icon">
            <span><i class="icon icon-note"></i></span>
        </div>
        <div class="form-group" style="text-align: center;" >
            <h4><b>Nuevo Registro</b> </h4>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="name" placeholder="Procedencia">
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="lastName" placeholder="Temporada">
        </div>
        <div class="form-group">
            <select class="form-control item">
                <option selected>Color de anillo</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="lastName" placeholder="Numero de anillo">
        </div>
        <div class="form-control-item">
            <select class="form-control item" aria-label="Default select example">
                <option selected>Genero</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control item" id="lastName" placeholder="Linea">
        </div>

        <div class="form-group">
            <label class="form-check-label" for="flexRadioDefault2">Estado</label>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
            </div>
        </div>
 
        <div class="form-group">
            <textarea class="form-control item" id="name" placeholder="Observacion del estado"></textarea>
        </div>

        <div class="form-group">
            <input type="text" class="form-control item" id="lastName" placeholder="Padre">
        </div>

        <div class="form-group">
            <input type="text" class="form-control item" id="lastName" placeholder="Madre">
        </div>

        <div class="form-group">
            <input type="text" class="form-control item" id="lastName" placeholder="Postura">
        </div>

        <div class="form-group">
            <textarea class="form-control item" id="name" placeholder="Observacion del ejemplar"></textarea>
        </div>



        <div class="form-group">
            <button type="button" class="btn btn-block aceptar">Aceptar</button>
            <button type="button" class="btn btn-block cancelar">Cancelar</button>
        </div>
    </form>
</div>